<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/student/done.css" />
    <title>Thank you!</title>
  </head>
  <body>
    <img src="assets/cali.webp" alt="Cali" />
    <h1>Congratulations!</h1>
    <p>Your attendance has been recorded for the Open Lab Day 2024.</p>
    <p>
      For ID-122 aligned BSCS and BSIET students,
      <span
        >CITRAP orientation will be on June 3 (M), 7:30 PM - 9:00 PM via
        Zoom.</span
      >
    </p>
    <p>Please wait for further announcements in the coming days.</p>
  </body>
</html>
