<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/student/seminar.css" />
    <title>Seminar</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h1>TALK Code</h1>
    <p class="instruction">
      Input any code from any talks. Code will be activated after each talk. You
      are only required to attend one.
    </p>
    <form action="/student/seminar_check" method="post">
      <input type="text" name="labName" value="Talk" hidden />
      <div class="input-container">
        <input
          type="text"
          name="code0"
          inputmode="numeric"
          autocomplete="one-time-code"
        />
        <input
          type="text"
          name="code1"
          inputmode="numeric"
          autocomplete="one-time-code"
        />
        <input
          type="text"
          name="code2"
          inputmode="numeric"
          autocomplete="one-time-code"
        />
        <input
          type="text"
          name="code3"
          inputmode="numeric"
          autocomplete="one-time-code"
        />
        <input
          type="text"
          name="code4"
          inputmode="numeric"
          autocomplete="one-time-code"
        />
        <input
          type="text"
          name="code5"
          inputmode="numeric"
          autocomplete="one-time-code"
        />
      </div>
      <button type="submit"><p>Submit</p></button>
    </form>
    <%- include('../partials/popup.ejs')%>
    <script>
      const inputs = document.querySelectorAll("input");
      const next = (e) => {
        const next = e.target.nextElementSibling;
        if (next) {
          next.focus();
        }
      };
      const isNum = (string) => {
        return string.match(/[0-9]/);
      };

      inputs.forEach((input) => {
        input.addEventListener("input", (e) => {
          if (e.target.value.length === 1 && isNum(e.target.value)) {
            next(e);
          } else if (e.target.value.length > 1) {
            if (isNum(e.target.value)) {
              e.target.value = e.target.value[1];
            } else {
              e.target.value = e.target.value[0];
            }
            next(e);
          } else {
            e.target.value = "";
          }
        });
      });
    </script>
  </body>
</html>
